# -----------------------------
# Operating System Files
# -----------------------------
.DS_Store
Thumbs.db
desktop.ini

# -----------------------------
# Power BI
# -----------------------------
*.pbix.autosave

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# IntelliJ
# -----------------------------
.idea/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Temporary Files
# -----------------------------
*.tmp
*.bak

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Cache
# -----------------------------
.cache/
